.card {
    height: 190px;
}

.image-style {
    min-width: 30%;
    height: 190px;
}

.card-title-height {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
